# Project - Week 4
## Work Plan
### 1. Systematic Study and Practice of Machine Learning

### 2. Application to Thesis: Further Dataset Optimization

### 3. Data Cleaning and Feature Engineering

### 4. Organization and Documentation with Graphics and Annotations

In [79]:
import pandas as pd
df = pd.read_excel("Data_4.xlsx")
selected_columns = ['EmpNumber', 'Age', 'Gender','EducationBackground', 'MaritalStatus', 'EmpDepartment' , 'BusinessTravelFrequency', 'EmpEducationLevel', 'EmpEnvironmentSatisfaction', 'EmpHourlyRate', 'EmpJobInvolvement',  'EmpJobLevel', 'EmpJobSatisfaction', 'OverTime', 'EmpRelationshipSatisfaction','EmpWorkLifeBalance','Attrition']
df_selected = df[selected_columns]
df_selected.to_excel('processed_data.xlsx', index=False)

### Perform column extraction on the dataset.

In [80]:
missing_values = df_selected.isnull().sum()
print(missing_values)

EmpNumber                      0
Age                            0
Gender                         0
EducationBackground            0
MaritalStatus                  0
EmpDepartment                  0
BusinessTravelFrequency        0
EmpEducationLevel              0
EmpEnvironmentSatisfaction     0
EmpHourlyRate                  0
EmpJobInvolvement              0
EmpJobLevel                    0
EmpJobSatisfaction             0
OverTime                       0
EmpRelationshipSatisfaction    0
EmpWorkLifeBalance             0
Attrition                      0
dtype: int64

### Check for missing values in each column.

In [81]:
# Define the names of the competence rating columns.
comp_columns = ['EmpEducationLevel', 'EmpEnvironmentSatisfaction', 'EmpHourlyRate', 'EmpJobInvolvement',  'EmpJobLevel', 'EmpJobSatisfaction', 'OverTime', 'EmpRelationshipSatisfaction','EmpWorkLifeBalance','Attrition']

# Iterate through these columns to check for anomalies.
for column in comp_columns:
    if column in df_selected.columns: 
        outliers = df_selected[~df_selected[column].isin([1, 2, 3, 4])]
        if not outliers.empty:
            print(f"Anomalies in column '{column}':")
            print(outliers)

Anomalies in column 'EmpEducationLevel':
     EmpNumber  Age  Gender EducationBackground MaritalStatus  \
12    E1001025   30    Male           Marketing      Divorced
24    E1001053   34  Female       Life Sciences      Divorced
140   E1001263   39    Male       Life Sciences        Single
198   E1001351   36  Female             Medical        Single
209   E1001372   27    Male       Life Sciences       Married
284   E1001509   42    Male             Medical       Married
290   E1001520   42  Female             Medical       Married
392   E1001708   31  Female       Life Sciences        Single
403   E1001726   41    Male             Medical       Married
407   E1001737   31  Female       Life Sciences        Single
421   E1001759   44  Female           Marketing       Married
441   E1001793   33    Male       Life Sciences        Single
450   E1001817   50    Male             Medical        Single
471   E1001850   53  Female    Technical Degree       Married
475   E1001856   55    Male           Marketing       Married
490   E1001884   50    Male             Medical       Married
494   E1001889   45  Female             Medical        Single
501   E1001899   35    Male       Life Sciences       Married
513   E1001920   44    Male     Human Resources       Married
521   E1001934   50  Female       Life Sciences      Divorced
528   E1001943   54  Female             Medical       Married
566   E1002011   36    Male           Marketing      Divorced
625   E1002120   31    Male     Human Resources       Married
676   E1002213   56  Female           Marketing       Married
806    E100346   44  Female           Marketing      Divorced
810    E100352   35    Male       Life Sciences       Married
815    E100357   38  Female       Life Sciences        Single
881    E100471   38  Female    Technical Degree        Single
886    E100482   35    Male           Marketing       Married
902    E100509   32    Male       Life Sciences        Single
939    E100565   40    Male       Life Sciences       Married
1039   E100725   47    Male       Life Sciences       Married
1054   E100746   42  Female       Life Sciences        Single
1060   E100757   36  Female             Medical        Single
1092   E100807   37  Female             Medical       Married
1113   E100843   29  Female    Technical Degree       Married
1134   E100873   48  Female           Marketing       Married
1135   E100875   55  Female       Life Sciences        Single
1142   E100890   33  Female             Medical      Divorced
1152   E100903   41  Female       Life Sciences       Married
1171   E100941   43    Male             Medical      Divorced
1181   E100961   34    Male       Life Sciences       Married

               EmpDepartment BusinessTravelFrequency  EmpEducationLevel  \
12                     Sales           Travel_Rarely                  5
24               Development           Travel_Rarely                  5
140                    Sales           Travel_Rarely                  5
198   Research & Development           Travel_Rarely                  5
209   Research & Development              Non-Travel                  5
284          Human Resources              Non-Travel                  5
290   Research & Development       Travel_Frequently                  5
392   Research & Development           Travel_Rarely                  5
403   Research & Development           Travel_Rarely                  5
407   Research & Development       Travel_Frequently                  5
421                    Sales       Travel_Frequently                  5
441   Research & Development           Travel_Rarely                  5
450   Research & Development       Travel_Frequently                  5
471   Research & Development           Travel_Rarely                  5
475                    Sales           Travel_Rarely                  5
490                  Finance       Travel_Frequently                  5
494                  Finance           Travel_Rarely                  5
501                  Finance           Travel_Rarely                  5
513          Human Resources       Travel_Frequently                  5
521                  Finance           Travel_Rarely                  5
528                  Finance           Travel_Rarely                  5
566                    Sales           Travel_Rarely                  5
625          Human Resources           Travel_Rarely                  5
676                    Sales           Travel_Rarely                  5
806                    Sales           Travel_Rarely                  5
810                    Sales       Travel_Frequently                  5
815              Development       Travel_Frequently                  5
881              Development           Travel_Rarely                  5
886                    Sales           Travel_Rarely                  5
902              Development           Travel_Rarely                  5
939              Development              Non-Travel                  5
1039            Data Science           Travel_Rarely                  5
1054             Development           Travel_Rarely                  5
1060                   Sales              Non-Travel                  5
1092             Development              Non-Travel                  5
1113             Development           Travel_Rarely                  5
1134                   Sales           Travel_Rarely                  5
1135                   Sales           Travel_Rarely                  5
1142             Development           Travel_Rarely                  5
1152                   Sales           Travel_Rarely                  5
1171             Development       Travel_Frequently                  5
1181             Development           Travel_Rarely                  5

      EmpEnvironmentSatisfaction  EmpHourlyRate  EmpJobInvolvement  \
12                             3              4                  3
24                             2              2                  3
140                            1              2                  4
198                            4              3                  2
209                            1              4                  1
284                            4              4                  4
290                            1              3                  3
392                            1              4                  3
403                            2              4                  4
407                            3              4                  4
421                            1              4                  3
441                            4              3                  3
450                            3              4                  1
471                            3              4                  2
475                            3              3                  2
490                            2              2                  3
494                            3              2                  1
501                            2              2                  4
513                            1              2                  3
521                            4              2                  2
528                            2              4                  3
566                            2              4                  2
625                            4              4                  4
676                            4              4                  2
806                            2              3                  3
810                            2              3                  3
815                            4              2                  3
881                            4              2                  3
886                            3              4                  3
902                            3              2                  3
939                            4              3                  2
1039                           4              2                  3
1054                           1              2                  3
1060                           4              2                  3
1092                           2              3                  3
1113                           3              3                  2
1134                           2              2                  3
1135                           1              4                  3
1142                           1              4                  4
1152                           2              4                  3
1171                           4              3                  3
1181                           2              2                  3

      EmpJobLevel  EmpJobSatisfaction  OverTime  EmpRelationshipSatisfaction  \
12              2                   4         1                            4
24              2                   1         1                            3
140             3                   3         1                            4
198             3                   4         1                            2
209             1                   3         1                            4
284             2                   1         1                            1
290             3                   1         4                            3
392             4                   2         1                            3
403             1                   3         4                            1
407             3                   2         1                            1
421             2                   3         1                            3
441             2                   3         4                            1
450             4                   4         4                            4
471             3                   4         1                            2
475             5                   4         1                            3
490             4                   3         4                            3
494             2                   1         4                            1
501             2                   1         1                            4
513             2                   4         4                            3
521             3                   1         1                            3
528             4                   3         1                            3
566             2                   1         4                            2
625             1                   1         1                            3
676             2                   1         1                            3
806             2                   1         4                            3
810             3                   1         1                            4
815             2                   4         1                            4
881             2                   3         4                            2
886             3                   2         1                            1
902             1                   3         1                            1
939             2                   4         1                            4
1039            5                   3         1                            2
1054            4                   4         1                            2
1060            2                   4         1                            2
1092            2                   3         4                            1
1113            1                   2         1                            2
1134            2                   4         1                            1
1135            4                   2         1                            4
1142            4                   3         1                            3
1152            4                   1         1                            2
1171            2                   3         4                            2
1181            1                   4         1                            4

      EmpWorkLifeBalance  Attrition
12                     2          1
24                     3          1
140                    3          1
198                    2          1
209                    3          1
284                    4          1
290                    3          1
392                    4          1
403                    2          1
407                    3          4
421                    2          1
441                    3          1
450                    3          1
471                    3          4
475                    3          1
490                    3          1
494                    3          1
501                    3          1
513                    3          1
521                    3          1
528                    3          1
566                    3          4
625                    3          4
676                    3          1
806                    2          1
810                    2          1
815                    3          1
881                    3          1
886                    3          1
902                    3          1
939                    1          1
1039                   3          1
1054                   3          1
1060                   3          1
1092                   3          1
1113                   4          4
1134                   3          1
1135                   3          1
1142                   3          1
1152                   3          1
1171                   3          1
1181                   2          1
Anomalies in column 'EmpJobLevel':
     EmpNumber  Age  Gender EducationBackground MaritalStatus  \
3     E1001009   41    Male     Human Resources      Divorced
151   E1001277   41    Male             Medical      Divorced
171   E1001307   42    Male           Marketing       Married
175   E1001313   41  Female       Life Sciences      Divorced
178   E1001316   52  Female           Marketing       Married
192   E1001339   50    Male             Medical       Married
230   E1001406   40    Male             Medical        Single
264   E1001469   56  Female    Technical Degree      Divorced
270   E1001479   53  Female             Medical      Divorced
278   E1001495   46    Male       Life Sciences       Married
297   E1001533   43    Male       Life Sciences       Married
298   E1001534   49    Male             Medical       Married
302   E1001541   48    Male       Life Sciences        Single
304   E1001545   44    Male           Marketing       Married
307   E1001555   45  Female           Marketing        Single
310   E1001558   46  Female           Marketing       Married
312   E1001560   51    Male       Life Sciences      Divorced
316   E1001566   44    Male       Life Sciences      Divorced
329   E1001584   45  Female             Medical        Single
341   E1001614   55  Female             Medical       Married
342   E1001616   56    Male       Life Sciences        Single
388   E1001701   58  Female             Medical       Married
475   E1001856   55    Male           Marketing       Married
483   E1001869   50    Male           Marketing       Married
492   E1001886   44  Female             Medical      Divorced
505   E1001903   47  Female       Life Sciences       Married
571   E1002018   40    Male             Medical        Single
589   E1002048   55    Male             Medical       Married
600   E1002067   46    Male             Medical      Divorced
642   E1002145   48    Male       Life Sciences       Married
681   E1002219   49    Male       Life Sciences       Married
703   E1002251   55    Male     Human Resources       Married
782    E100310   53  Female               Other      Divorced
786    E100316   46  Female           Marketing        Single
816    E100358   50  Female             Medical      Divorced
851    E100419   50  Female       Life Sciences       Married
864    E100440   51    Male       Life Sciences        Single
898    E100504   50  Female       Life Sciences        Single
918    E100531   40  Female             Medical       Married
921    E100537   52    Male       Life Sciences       Married
956    E100597   42    Male    Technical Degree       Married
958    E100601   50  Female             Medical      Divorced
962    E100607   52    Male       Life Sciences        Single
978    E100630   40    Male             Medical      Divorced
989    E100652   55    Male             Medical        Single
997    E100663   50    Male       Life Sciences      Divorced
1006   E100674   49  Female       Life Sciences        Single
1036   E100722   39    Male             Medical       Married
1039   E100725   47    Male       Life Sciences       Married
1088   E100800   54    Male             Medical       Married
1094   E100809   39    Male       Life Sciences      Divorced
1104   E100827   60  Female       Life Sciences       Married
1109   E100836   40  Female       Life Sciences       Married
1156   E100916   49    Male       Life Sciences      Divorced
1160   E100922   50    Male             Medical       Married
1177   E100949   44    Male               Other       Married

               EmpDepartment BusinessTravelFrequency  EmpEducationLevel  \
3            Human Resources           Travel_Rarely                  4
151              Development       Travel_Frequently                  3
171                    Sales           Travel_Rarely                  2
175   Research & Development              Non-Travel                  1
178                    Sales           Travel_Rarely                  1
192   Research & Development           Travel_Rarely                  4
230   Research & Development           Travel_Rarely                  3
264   Research & Development           Travel_Rarely                  4
270   Research & Development           Travel_Rarely                  2
278   Research & Development           Travel_Rarely                  2
297   Research & Development           Travel_Rarely                  3
298   Research & Development           Travel_Rarely                  2
302   Research & Development           Travel_Rarely                  3
304                    Sales           Travel_Rarely                  3
307                    Sales           Travel_Rarely                  3
310                    Sales           Travel_Rarely                  2
312                    Sales       Travel_Frequently                  3
316   Research & Development           Travel_Rarely                  2
329   Research & Development       Travel_Frequently                  3
341   Research & Development           Travel_Rarely                  2
342          Human Resources           Travel_Rarely                  4
388   Research & Development           Travel_Rarely                  3
475                    Sales           Travel_Rarely                  5
483                    Sales           Travel_Rarely                  3
492                  Finance           Travel_Rarely                  3
505          Human Resources           Travel_Rarely                  4
571                    Sales           Travel_Rarely                  4
589   Research & Development           Travel_Rarely                  3
600   Research & Development           Travel_Rarely                  4
642   Research & Development           Travel_Rarely                  3
681   Research & Development       Travel_Frequently                  1
703          Human Resources           Travel_Rarely                  4
782              Development           Travel_Rarely                  3
786                    Sales           Travel_Rarely                  4
816              Development           Travel_Rarely                  2
851              Development       Travel_Frequently                  3
864              Development           Travel_Rarely                  3
898              Development           Travel_Rarely                  3

### Check for Anomalies

In [82]:
columns_to_process = ['EmpEducationLevel' , 'EmpJobLevel']
for column in columns_to_process:
    df_selected[column] = df_selected[column].apply(lambda x: max(1, min(x, 4)))
for column in columns_to_process:
    if df_selected[column].min() < 1 or df_selected[column].max() > 4:
        print(f"Column {column} still has anomalies")
    else:
        print(f"Column {column} has no anomalies")

Column EmpEducationLevel has no anomalies
Column EmpJobLevel has no anomalies

C:\Users\Crane\AppData\Local\Temp\ipykernel_9728\2361439922.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected[column] = df_selected[column].apply(lambda x: max(1, min(x, 4)))
C:\Users\Crane\AppData\Local\Temp\ipykernel_9728\2361439922.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected[column] = df_selected[column].apply(lambda x: max(1, min(x, 4)))

### Normalize data with minor differences.

In [83]:
# Define the names of the competence rating columns.
comp_columns = ['EmpEducationLevel', 'EmpEnvironmentSatisfaction', 'EmpHourlyRate', 'EmpJobInvolvement',  'EmpJobLevel', 'EmpJobSatisfaction', 'OverTime', 'EmpRelationshipSatisfaction','EmpWorkLifeBalance','Attrition']

# Iterate through these columns to check for anomalies.
for column in comp_columns:
    outliers = df_selected[~df_selected[column].isin([1, 2, 3, 4])]
    if not outliers.empty:
        print(f"Anomalies in column '{column}':")
        print(outliers)

### No more Anomalies

In [84]:
# Define a mapping of original column names to new column names.
column_mapping = {
    'EmpEducationLevel': 'Education Level',
    'EmpEnvironmentSatisfaction': 'Leadership',
    'EmpHourlyRate': 'Communication Skills',
    'EmpJobInvolvement': 'Self-Motivation',
    'EmpJobLevel': 'Problem-Solving Skills',
    'EmpJobSatisfaction': 'Technical Proficiency',
    'OverTime': 'Emotional Intelligence',
    'EmpRelationshipSatisfaction': 'Creativity',
    'EmpWorkLifeBalance': 'Teamwork',
    'Attrition': 'Decision-Making'
}

# Update the column names in the comp_columns list.
comp_columns = [column_mapping[col] if col in column_mapping else col for col in comp_columns]

df_selected.rename(columns=column_mapping, inplace=True)

print(df_selected.columns)

Index(['EmpNumber', 'Age', 'Gender', 'EducationBackground', 'MaritalStatus',
       'EmpDepartment', 'BusinessTravelFrequency', 'Education Level',
       'Leadership', 'Communication Skills', 'Self-Motivation',
       'Problem-Solving Skills', 'Technical Proficiency',
       'Emotional Intelligence', 'Creativity', 'Teamwork', 'Decision-Making'],
      dtype='object')

C:\Users\Crane\AppData\Local\Temp\ipykernel_9728\3415931857.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected.rename(columns=column_mapping, inplace=True)

### Modify the existing competences to match the target competences.

In [85]:
# Replace 'Human Resources' and 'Finance' in the 'EmpDepartment' column with 'Administration'.
df_selected['EmpDepartment'].replace(['Human Resources', 'Finance'], 'Administration', inplace=True)

print(df_selected['EmpDepartment'].unique())

['Sales' 'Administration' 'Development' 'Data Science'
 'Research & Development']

C:\Users\Crane\AppData\Local\Temp\ipykernel_9728\3960424435.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['EmpDepartment'].replace(['Human Resources', 'Finance'], 'Administration', inplace=True)

### Merge 'Human Resources' and 'Finance' departments into 'Administration'.

# Feature Engineering
By applying different weight ratios for various departments, employees are scored accordingly. This process distinguishes two category labels: 'Suitable' and 'Not Suitable' for the position

In [86]:
weights = {
    'Administration': {
        'Leadership': 0.25, 'Communication Skills': 0.20, 'Emotional Intelligence': 0.20, 'Decision-Making': 0.15, 'Teamwork': 0.10,
        'Education Level': 0.05, 'Problem-Solving Skills': 0.05, 'Creativity': 0, 'Technical Proficiency': 0, 'Self-Motivation': 0
    },
    'Sales': {
        'Communication Skills': 0.25, 'Emotional Intelligence': 0.20, 'Self-Motivation': 0.20, 'Creativity': 0.15, 'Teamwork': 0.10,
        'Education Level': 0.05, 'Problem-Solving Skills': 0.05, 'Leadership': 0, 'Technical Proficiency': 0, 'Decision-Making': 0
    },
    'Development': {
        'Technical Proficiency': 0.25, 'Problem-Solving Skills': 0.20, 'Creativity': 0.15, 'Teamwork': 0.10, 'Decision-Making': 0.15,
        'Education Level': 0.05, 'Emotional Intelligence': 0.05, 'Leadership': 0, 'Communication Skills': 0, 'Self-Motivation': 0.05
    },
    'Data Science': {
        'Technical Proficiency': 0.25, 'Problem-Solving Skills': 0.20, 'Creativity': 0.20, 'Education Level': 0.15, 'Decision-Making': 0.10,
        'Teamwork': 0.05, 'Emotional Intelligence': 0.05, 'Leadership': 0, 'Communication Skills': 0, 'Self-Motivation': 0
    },
    'Research & Development': {
        'Technical Proficiency': 0.25, 'Problem-Solving Skills': 0.20, 'Creativity': 0.20, 'Teamwork': 0.15, 'Education Level': 0.10,
        'Decision-Making': 0.05, 'Emotional Intelligence': 0.05, 'Leadership': 0, 'Communication Skills': 0, 'Self-Motivation': 0
    }
}

for department, dept_weights in weights.items():
    df_selected[f'{department}_Score'] = sum(df_selected[comp] * weight for comp, weight in dept_weights.items() if comp in df_selected.columns)
    
threshold = 2  
for department in weights.keys():
    df_selected[f'Suitable_for_{department}'] = df_selected[f'{department}_Score'].apply(lambda x: 'Suit' if x >= threshold else 'NoSuit')

df_selected['Suit_Current_Department'] = df_selected.apply(lambda row: row[f'Suitable_for_{row["EmpDepartment"]}'], axis=1)

C:\Users\Crane\AppData\Local\Temp\ipykernel_9728\2417720358.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected[f'{department}_Score'] = sum(df_selected[comp] * weight for comp, weight in dept_weights.items() if comp in df_selected.columns)
C:\Users\Crane\AppData\Local\Temp\ipykernel_9728\2417720358.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected[f'{department}_Score'] = sum(df_selected[comp] * weight for comp, weight in dept_weights.items() if comp in df_selected.columns)
C:\Users\Crane\AppData\Local\Temp\ipykernel_9728\2417720358.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected[f'{department}_Score'] = sum(df_selected[comp] * weight for comp, weight in dept_weights.items() if comp in df_selected.columns)
C:\Users\Crane\AppData\Local\Temp\ipykernel_9728\2417720358.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected[f'{department}_Score'] = sum(df_selected[comp] * weight for comp, weight in dept_weights.items() if comp in df_selected.columns)
C:\Users\Crane\AppData\Local\Temp\ipykernel_9728\2417720358.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected[f'{department}_Score'] = sum(df_selected[comp] * weight for comp, weight in dept_weights.items() if comp in df_selected.columns)
C:\Users\Crane\AppData\Local\Temp\ipykernel_9728\2417720358.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected[f'Suitable_for_{department}'] = df_selected[f'{department}_Score'].apply(lambda x: 'Suit' if x >= threshold else 'NoSuit')
C:\Users\Crane\AppData\Local\Temp\ipykernel_9728\2417720358.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected[f'Suitable_for_{department}'] = df_selected[f'{department}_Score'].apply(lambda x: 'Suit' if x >= threshold else 'NoSuit')
C:\Users\Crane\AppData\Local\Temp\ipykernel_9728\2417720358.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected[f'Suitable_for_{department}'] = df_selected[f'{department}_Score'].apply(lambda x: 'Suit' if x >= threshold else 'NoSuit')
C:\Users\Crane\AppData\Local\Temp\ipykernel_9728\2417720358.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected[f'Suitable_for_{department}'] = df_selected[f'{department}_Score'].apply(lambda x: 'Suit' if x >= threshold else 'NoSuit')

### Weight distribution, output scores for each department.Suit = 1 Not Suit = 0.

In [87]:
df_selected = pd.get_dummies(df_selected, columns=['Gender', 'EducationBackground', 'MaritalStatus', 'EmpDepartment', 'BusinessTravelFrequency'])

One-hot encoding creates new binary columns

In [88]:
print(df_selected.dtypes)

EmpNumber                                     object
Age                                            int64
Education Level                                int64
Leadership                                     int64
Communication Skills                           int64
Self-Motivation                                int64
Problem-Solving Skills                         int64
Technical Proficiency                          int64
Emotional Intelligence                         int64
Creativity                                     int64
Teamwork                                       int64
Decision-Making                                int64
Administration_Score                         float64
Sales_Score                                  float64
Development_Score                            float64
Data Science_Score                           float64
Research & Development_Score                 float64
Suitable_for_Administration                   object
Suitable_for_Sales                            object
Suitable_for_Development                      object
Suitable_for_Data Science                     object
Suitable_for_Research & Development           object
Suit_Current_Department                       object
Gender_Female                                   bool
Gender_Male                                     bool
EducationBackground_Human Resources             bool
EducationBackground_Life Sciences               bool
EducationBackground_Marketing                   bool
EducationBackground_Medical                     bool
EducationBackground_Other                       bool
EducationBackground_Technical Degree            bool
MaritalStatus_Divorced                          bool
MaritalStatus_Married                           bool
MaritalStatus_Single                            bool
EmpDepartment_Administration                    bool
EmpDepartment_Data Science                      bool
EmpDepartment_Development                       bool
EmpDepartment_Research & Development            bool
EmpDepartment_Sales                             bool
BusinessTravelFrequency_Non-Travel              bool
BusinessTravelFrequency_Travel_Frequently       bool
BusinessTravelFrequency_Travel_Rarely           bool
dtype: object

In [89]:
columns_to_convert = [
    'Gender_Female', 'Gender_Male',
    'EducationBackground_Human Resources', 'EducationBackground_Life Sciences',
    'EducationBackground_Marketing', 'EducationBackground_Medical',
    'EducationBackground_Other', 'EducationBackground_Technical Degree',
    'MaritalStatus_Divorced', 'MaritalStatus_Married', 'MaritalStatus_Single',
    'EmpDepartment_Administration', 'EmpDepartment_Data Science',
    'EmpDepartment_Development', 'EmpDepartment_Research & Development',
    'EmpDepartment_Sales',
    'BusinessTravelFrequency_Non-Travel',
    'BusinessTravelFrequency_Travel_Frequently',
    'BusinessTravelFrequency_Travel_Rarely'
]
df_selected[columns_to_convert] = df_selected[columns_to_convert].astype(int)

Convert one-hot encoded columns to integer type for machine learning model compatibility.

In [90]:
print(df_selected[columns_to_convert].dtypes)

Gender_Female                                int32
Gender_Male                                  int32
EducationBackground_Human Resources          int32
EducationBackground_Life Sciences            int32
EducationBackground_Marketing                int32
EducationBackground_Medical                  int32
EducationBackground_Other                    int32
EducationBackground_Technical Degree         int32
MaritalStatus_Divorced                       int32
MaritalStatus_Married                        int32
MaritalStatus_Single                         int32
EmpDepartment_Administration                 int32
EmpDepartment_Data Science                   int32
EmpDepartment_Development                    int32
EmpDepartment_Research & Development         int32
EmpDepartment_Sales                          int32
BusinessTravelFrequency_Non-Travel           int32
BusinessTravelFrequency_Travel_Frequently    int32
BusinessTravelFrequency_Travel_Rarely        int32
dtype: object

In [91]:
df_selected.drop('EmpNumber', axis=1, inplace=True)

Remove EmpNumber

In [92]:
print(df_selected.dtypes)

Age                                            int64
Education Level                                int64
Leadership                                     int64
Communication Skills                           int64
Self-Motivation                                int64
Problem-Solving Skills                         int64
Technical Proficiency                          int64
Emotional Intelligence                         int64
Creativity                                     int64
Teamwork                                       int64
Decision-Making                                int64
Administration_Score                         float64
Sales_Score                                  float64
Development_Score                            float64
Data Science_Score                           float64
Research & Development_Score                 float64
Suitable_for_Administration                   object
Suitable_for_Sales                            object
Suitable_for_Development                      object
Suitable_for_Data Science                     object
Suitable_for_Research & Development           object
Suit_Current_Department                       object
Gender_Female                                  int32
Gender_Male                                    int32
EducationBackground_Human Resources            int32
EducationBackground_Life Sciences              int32
EducationBackground_Marketing                  int32
EducationBackground_Medical                    int32
EducationBackground_Other                      int32
EducationBackground_Technical Degree           int32
MaritalStatus_Divorced                         int32
MaritalStatus_Married                          int32
MaritalStatus_Single                           int32
EmpDepartment_Administration                   int32
EmpDepartment_Data Science                     int32
EmpDepartment_Development                      int32
EmpDepartment_Research & Development           int32
EmpDepartment_Sales                            int32
BusinessTravelFrequency_Non-Travel             int32
BusinessTravelFrequency_Travel_Frequently      int32
BusinessTravelFrequency_Travel_Rarely          int32
dtype: object

Check the types

In [75]:
# Output the modified DataFrame to an Excel file.
df_selected.to_excel('modified_data.xlsx', index=False)

### Print the prototype of the data.

In [94]:
suit_mapping = {'Suit': 1, 'NoSuit': 0}

columns_to_convert = [
    'Suitable_for_Administration', 
    'Suitable_for_Sales', 
    'Suitable_for_Development', 
    'Suitable_for_Data Science', 
    'Suitable_for_Research & Development', 
    'Suit_Current_Department'
]

for col in columns_to_convert:
    df_selected[col] = df_selected[col].replace(suit_mapping)

In [95]:
print(df_selected.dtypes)

Age                                            int64
Education Level                                int64
Leadership                                     int64
Communication Skills                           int64
Self-Motivation                                int64
Problem-Solving Skills                         int64
Technical Proficiency                          int64
Emotional Intelligence                         int64
Creativity                                     int64
Teamwork                                       int64
Decision-Making                                int64
Administration_Score                         float64
Sales_Score                                  float64
Development_Score                            float64
Data Science_Score                           float64
Research & Development_Score                 float64
Suitable_for_Administration                    int64
Suitable_for_Sales                             int64
Suitable_for_Development                       int64
Suitable_for_Data Science                      int64
Suitable_for_Research & Development            int64
Suit_Current_Department                        int64
Gender_Female                                  int32
Gender_Male                                    int32
EducationBackground_Human Resources            int32
EducationBackground_Life Sciences              int32
EducationBackground_Marketing                  int32
EducationBackground_Medical                    int32
EducationBackground_Other                      int32
EducationBackground_Technical Degree           int32
MaritalStatus_Divorced                         int32
MaritalStatus_Married                          int32
MaritalStatus_Single                           int32
EmpDepartment_Administration                   int32
EmpDepartment_Data Science                     int32
EmpDepartment_Development                      int32
EmpDepartment_Research & Development           int32
EmpDepartment_Sales                            int32
BusinessTravelFrequency_Non-Travel             int32
BusinessTravelFrequency_Travel_Frequently      int32
BusinessTravelFrequency_Travel_Rarely          int32
dtype: object

By encoding, a dataset consisting solely of numerical values is achieved, meeting the requirements of a machine learning dataset

In [96]:
from sklearn.model_selection import train_test_split

X = df_selected.drop('Suit_Current_Department', axis=1)  # Features
y = df_selected['Suit_Current_Department']               # Labels

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

### Split the dataset into training and test sets

In [97]:
print(X_train.dtypes)

Age                                            int64
Education Level                                int64
Leadership                                     int64
Communication Skills                           int64
Self-Motivation                                int64
Problem-Solving Skills                         int64
Technical Proficiency                          int64
Emotional Intelligence                         int64
Creativity                                     int64
Teamwork                                       int64
Decision-Making                                int64
Administration_Score                         float64
Sales_Score                                  float64
Development_Score                            float64
Data Science_Score                           float64
Research & Development_Score                 float64
Suitable_for_Administration                    int64
Suitable_for_Sales                             int64
Suitable_for_Development                       int64
Suitable_for_Data Science                      int64
Suitable_for_Research & Development            int64
Gender_Female                                  int32
Gender_Male                                    int32
EducationBackground_Human Resources            int32
EducationBackground_Life Sciences              int32
EducationBackground_Marketing                  int32
EducationBackground_Medical                    int32
EducationBackground_Other                      int32
EducationBackground_Technical Degree           int32
MaritalStatus_Divorced                         int32
MaritalStatus_Married                          int32
MaritalStatus_Single                           int32
EmpDepartment_Administration                   int32
EmpDepartment_Data Science                     int32
EmpDepartment_Development                      int32
EmpDepartment_Research & Development           int32
EmpDepartment_Sales                            int32
BusinessTravelFrequency_Non-Travel             int32
BusinessTravelFrequency_Travel_Frequently      int32
BusinessTravelFrequency_Travel_Rarely          int32
dtype: object

### Since the "EmpNumber" column is displayed as an "object" type and does not significantly impact the data, it can therefore be removed

# Machine Learning Model Testing
## 1.Random Forest Classifier

In [98]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X_train, y_train)

from sklearn.metrics import accuracy_score, classification_report

y_pred = model.predict(X_test)
print(accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

0.9861111111111112
              precision    recall  f1-score   support

           0       0.90      0.97      0.93        36
           1       1.00      0.99      0.99       324

    accuracy                           0.99       360
   macro avg       0.95      0.98      0.96       360
weighted avg       0.99      0.99      0.99       360

### This model performs exceptionally well in predicting category 1, with both high precision and recall.
### The prediction for category 0 is also quite accurate, though slightly lower compared to category 1.
### The overall accuracy is very high, indicating that the model makes correct predictions for the majority of samples.

## 2.Support Vector Machine, SVM

In [99]:
from sklearn.svm import SVC

model = SVC()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

0.9
              precision    recall  f1-score   support

           0       0.00      0.00      0.00        36
           1       0.90      1.00      0.95       324

    accuracy                           0.90       360
   macro avg       0.45      0.50      0.47       360
weighted avg       0.81      0.90      0.85       360

D:\Software\Anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\Software\Anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\Software\Anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

#### for this dataset, using SVM might encounter issues such as data imbalance or parameter mismatch

## 3.Decision Tree

In [100]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

0.975
              precision    recall  f1-score   support

           0       0.91      0.83      0.87        36
           1       0.98      0.99      0.99       324

    accuracy                           0.97       360
   macro avg       0.95      0.91      0.93       360
weighted avg       0.97      0.97      0.97       360

## 4.Logistic Regression

In [101]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

0.95
              precision    recall  f1-score   support

           0       0.75      0.75      0.75        36
           1       0.97      0.97      0.97       324

    accuracy                           0.95       360
   macro avg       0.86      0.86      0.86       360
weighted avg       0.95      0.95      0.95       360

D:\Software\Anaconda\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

#### It is a ConvergenceWarning indicating that the logistic regression model did not converge during training

## 5.K-Nearest Neighbors, KNN

In [102]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

AttributeError: 'Flags' object has no attribute 'c_contiguous'

#### The data type is not suitable for KNN

## conclusion
### Model Testing and Evaluation:

I have tested several popular machine learning models, including Support Vector Machine (SVM), Logistic Regression, Decision Tree, K-Nearest Neighbors (KNN), and Random Forest Classifier (RFC).
During the testing process, I found that models like SVM, Logistic Regression, and KNN encountered errors or warnings in some cases, which might be due to data imbalance, mismatch in model parameters, or the nature of the algorithms themselves.
### Performance of Random Forest Classifier and Decision Tree:

The Random Forest Classifier (RFC) and Decision Tree (DT) performed well in my tests, with no significant errors or issues.
The accuracy of RFC was about 98.61%, while DT achieved an accuracy of 97.5%, both demonstrating high predictive accuracy.
### Future Research Direction:

Based on the current test results and the performance of the models, I plan to continue using Random Forest Classifier and Decision Tree in my future research.
Both models not only offer high accuracy but are also relatively easy to handle with large datasets and have lower requirements for data preprocessing.
### Next Steps:

In future work, I might further fine-tune and optimize the parameters of these two models to enhance their performance.
Additionally, exploring more techniques in feature engineering and model tuning could help improve the models' accuracy and interpretability.